# dbt
target/
dbt_packages/
logs/
dbt_internal_packages/

# DuckDB
data/*.duckdb

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env

# Mac
.DS_Store

# Google
flight-analytics-499622-5f8207a26720.json
